@using AdminWeb.Models
@model IEnumerable<ApplicationViewModel>

<div class="jumbotron">
    <h2>Applications</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Account Type
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Status
            </th>
        </tr>
        </thead>
        @foreach (var apply in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => apply.Id)</td>
                <td>@Html.DisplayFor(m => apply.AccountType)</td>
                <td>@Html.DisplayFor(m => apply.Name)</td>
                <td>@Html.DisplayFor(m => apply.Email)</td>
                <td>@Html.DisplayFor(m => apply.Status)</td>
            </tr>
        }
    </table>
</div>